
@{
    ViewData["Title"] = "DescriptionIo";
}

<h1>Description</h1>

<table>
    <caption>Герои</caption>
    <tr>
        <td> <img class="img-thumbnail" src=@Model.img alt=@Model.Name width="200" height="200" /></td>
        <td>@Model.decs</td>
        <td>101St Популярность</td>
        <td>48.83%Доля Побед</td>
        <td><img class="img-thumbnail" src=/img/io/3.png alt=Скилы width="400" height="250" /></td>
    </tr>
    <tr>
        <td><img class="img-thumbnail" src=/img/io/Line.png alt=Лучшая сборка /></td>
        <td>               </td>
        <td><img class="img-thumbnail" src=/img/io/4.png alt=Доля побед width="400" height="400" /></td>
        @*@{ 
            if(Model.){

            }
        }*@
        <td><img class="img-thumbnail" src=/img/io/charac.png alt=Charac /></td>
    </tr>
    <tr>
        <td><img class="img-thumbnail" src=/img/io/1.png alt=Лучшая сборка width="700" height="600" /></td>
        <td>                 </td>
        <td>   <img class="img-thumbnail" src=/img/io/5.png alt=Доля побед От Рейтинга width="500" height="400" /></td>
    </tr>
    <tr>
        <td> <img class="img-thumbnail" src=/img/io/2.png alt=Сборка Скиллов width="600" height="1000" />  </td>
        <td>                </td>
        <td><img class="img-thumbnail" src=/img/io/Talents.png alt=Сборка Талантов width="400" height="200" /></td>
    </tr>
    Ио — непостижимое проявление жизненной силы, присутствующее везде и во всём, и для врагов оно оказывается великим разрушителем, а для учёных мужей — блеском божественного ока. Сущность эта находится одновременно на всех уровнях бытия, а её малейшие частицы воплощаются в физическом мире в каждое отдельно взятое мгновение. Подобно великим всадникам-близнецам, Тьме и Свету, а также древнему путнику, чьё истинное происхождение затеряно в веках, — это предвечная сущность вселенной, сила старше самого времени, пришелец из миров за гранью понимания смертных. Ио есть совокупность всех материальных сил притяжения и отторжения, разумное проявление связующей реальность энергии. Присутствие его в материальном мире осязается лишь в контролируемых искривлениях векторов этих сил. Сущность эта по своей природе благожелательна, и передаёт свой непостижимый магнетизм союзникам, делая их сильнее и выносливее. Что движет этой невообразимой силой — неведомо, а её движение по физическому миру — прекрасное напоминание, что вселенная полна загадок и тайн.
</table>

