
@{
    ViewData["Title"] = "Pop";
}

<h1>Add</h1>

    <form method="post" action="~/Settings/Add" enctype="multipart/form-data">
        <label>Имя:</label><br />
        <input type="text" name="name" /><br />
        <label>Описание:</label><br />
        <input type="text" name="decs" /><br />
        <label>ИмяАтрибута:</label><br />
        <input type="text" name="AtributeName" /><br />
        <h3>Выберите файл для загрузки</h3>
            <input type="file" name="uploadedFile" /><br>
        <input type="submit" value="Отправить" />
    </form>
