
@{
    ViewData["Title"] = "Pop";
}

<h1>Add</h1>

    <form method="post" action="~/Settings/Add">
        <label>Имя:</label><br />
        <input type="text" name="name" /><br />
        <label>Описание:</label><br />
        <input type="text" name="decs" /><br />
        <label>ИмяАтрибута:</label><br />
        <input type="text" name="AtributeName" /><br />
        <label>Путь к картике(Если есть):</label><br />
        <input type="text" name="img" /><br />
        <input type="submit" value="Отправить" />
    </form>
