
@{
    ViewData["Title"] = "Alter";
}

<h1>Alter</h1>
<form method="post" action="~/Settings/Alter">
    <label>Имя Героя которого хотире отредактировать:</label><br />
    <input type="text" name="fname" /><br />
    <label>Имя:</label><br />
    <input type="text" name="name" /><br />
    <label>Описание:</label><br />
    <input type="text" name="decs" /><br />
    <label>ИмяАтрибута:</label><br />
    <input type="text" name="AtributeName" /><br />
    <label>Путь к картике(Если есть):</label><br />
    <input type="text" name="img" /><br />
    <input type="submit" value="Отправить" />
</form>