
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<form method="post" action="~/Settings/Delete">
    <label>Имя:</label><br />
    <input type="text" name="name" /><br /> 
    <input type="submit" value="Отправить" />
</form>